:root{
    --branding-color: black;
    --secondary-color: hotpink;
    --heading-font-family:'Playfair Display', serif;
    --default-font-family:'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5{
color: black;
font-weight: bold;
font-family: var(--heading-font-family)
}
h1{
    font-size: 96px;
    line-height: 1.5;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 32px;
}
p{
    font-weight: normal;
    font-size:16px;
    color: var(--branding-color);
    line-height: 30px;
}
.hero {
    background-color: pink;
    text-align: center;
    padding: 100px 20px;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.hero h2{
    font-family: var(--default-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
    color: rgb(53, 52, 52);
}
.content-container{
    text-align: center;
     padding: 68px 20px;
}
.content{
    padding: 160px 20px;
}
.content h1{
    font-size: 44px;
    line-height: 80px;
}
.content h2{
     font-size: 18px;
    font-family: var(--default-font-family);
}
.content h3{
    font-size: 24px;
    line-height: 1.5;
  
    font-family: var(--default-font-family);
}
.content p{
    font-size: 14px;
}

.content{
    margin: 30px;
}
.btn-branding{
    background: hotpink;
    border-radius: 4px;
    color:var(--branding-color);
    font-size: 18px ;
    line-height: 27px ;
    padding: 15px 30px;
    border: 1px solid var(--branding-color);
}
.btn-branding-outline{
    background: white;
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: 18px ;
    line-height: 27px ;
    padding: 15px 30px;
    border: 1px solid var(--branding-color);
}
.project-description{
   padding: 120px 60px ; 
}
.watermelon-picture{
    height: 560px;
    width: 560px;
}
.logo{
    max-width: 150px;
    max-height: 41.82px;
}
nav{
    padding: 20px 0;
}

nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    list-style: none;
}
nav a{
    margin-left: 10px;
    text-decoration: none;
    color: #272142 ;
    transition: all 150ms ease-in-out;
}
nav li.active a{
    color: var(--secondary-color);
}
nav a:hover{
    color: pink;
}
footer{
    margin: 60px 0;
}
footer .contact-box{
    background: pink;
    padding: 30px 60px;
  border-radius: 3px;
}

footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
footer .email-link:hover{
    color: var(--secondary-color);
}
footer .social-links a{
    margin: 0 15px;
    color: var(--secondary-color);
    background-color: pink;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
footer  .social-links a:hover{
    color:white;
    background: pink;
}
footer .contact-box p{
    padding: 30px;
}

@media(max-width: 900px){
    h1{
        font-size: 44px;
        line-height: 1.5;
    }
    h2{
        font-size: 44px;
    }
    .hero {
    padding: 80px 20px;
    }

    .project-description{
        padding: 0;
        text-align: center;
    }
}
.weather-app-picture{
    background-color: pink;
    height: 560px;
    width: 560px;
    padding: 120px 60px;
}