body{
    background-color: pink;
}
h1{
color: rgb(236, 80, 158);
font-weight: bold;
font-family: 'Playfair Display', serif;
}
p{
    font-family: font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: hotpink;
}